@import "../../styles/_base.scss";
@import "../../styles/contentbox.scss";
@import "../../styles/title.scss";
@import "../../styles/_dividedtitle.scss";

.contentbox {
  @extend .contentbox;
  flex-wrap: wrap;
}

.flightinfo {
  display: block;
  width: 100%;
  h2 {
    color: darkblue;
    margin: 0;
  }
  h3 {
    color: #ED8000;
    margin-top: 0;
  }
}

.flightprogress {
  display: block;
  justify-content: space-between;
  margin: 0;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
  flex-direction: row;

  > .departure, > .arrival {
    width: 50%;
    display: inline-block;
    font-size: 1.5rem;

    > .icao {
      font-weight: 200;
      display: block;
    }

    > .name {
      font-weight: 100;
      text-transform: capitalize;
      font-size: 16px;
      display: block;
    }
  }

  > .arrival {
    text-align: right;
  }
}

.flightdetails {
  padding-top: 20px;
  width: 50%;
  display: inline-block;

  > .dividedtitle {
    @extend %dividedtitle;
    border-right: 2px solid #9a9a9a;
  }

  table {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    color: darkblue;
    thead th {
      text-align: center;
    }
    tbody {
      td:not(:first-child) {
        font-weight: 200;
        text-align: center;
      }
    }
  }
}

.flightdata {
  width: 50%;
  padding-top: 20px;
  display: inline-block;

  > .dividedtitle {
    @extend %dividedtitle;
    border-left: 2px solid #9a9a9a;
  }

  table {
    padding-left: 10px;
    tbody tr {
      td {
        color: darkblue;
        padding-bottom: 10px;
      }

      td:first-child {
        text-align: right;
        padding-right: 10px;
      }

      td:not(:first-child) {
        font-weight: bold;
      }
    }
  }
}

.flightmap {
  width:100%;
  height:400px;

  .leaflet-container {
    width:100%;
    height:400px;
  }
}
