@import "../../styles/contentbox.scss";
@import "../../styles/title.scss";

.home {
  @extend %base;
  margin: 15px auto 0 auto;
  > div {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .home {
    display: flex;
    justify-content: space-between;
  }
}

.recentbox {
  background: rgba(0, 47, 93, .8);
  background-image: url('./metro1.png');
  background-size: cover;
  flex-basis: 60%;
  padding: 15px;
}

.statsbox {
  background: rgb(0, 47, 93);
  padding: 15px;
  flex-basis: 30%;
}

.sincebox {
  @extend .title;
  margin-top: 1rem;
  text-align: right;
  padding-right: 5px;
}

.tablerecentflights {
  border-collapse: collapse;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  > tbody > tr {
    border-bottom: 1px solid rgb(255,255,255);
    > td {
      padding: 0;
      margin: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      color: white;

      &:first-child {
        padding-left: 5px;
        padding-right: 15px;
      }
      &:last-child {
        padding-right: 5px;
      }
    }

    .dep {
      text-align: right;
    }

    .arrow {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }

    &:last-child {
      border: none;
    }
  }
}

.tablestats {
  @extend .tablerecentflights;
  > tbody > tr {
    > td {
      &:last-child {
        text-align: right;
      }
    }
  }
}
