body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  font-size: 10pt;
}

input[type=submit] {
  cursor: pointer;
}

a {
  color: darkblue;
  text-decoration: underline;
  &:hover {
    color: skyblue;
  }
}
