body {
  margin: 0;
  padding: 0;
}

#topWrapper {
  width: 100%;
  background: #002F5D;
  /*background: linear-gradient(#002F5D, #002F5D 40%, #021624);*/
  box-shadow: 0 1px 1px -1px #888;

  #header {
    width: 90%;
    padding-top: 5px;
    margin: 0 auto;

    input {
      padding: 5px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid darkblue;
      margin-right: 5px;
    }

    #search {
      width: 40%;
    }

    .navBar {
      display: block;
      clear: both;

      #navBarRoot {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        min-height: 40px;
        box-sizing: border-box;

        > li {
          position: relative;
          display: inline-block;
          list-style-type: none;
          padding: 0 5px;
          margin-right: 10px;
          color: #ed8000;
          font-family: GillSansLight, sans-serif;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          white-space: nowrap;

          &:first-child {
            margin-left: -5px;
            padding-left: 5px;
          }

          &:hover {
            border-bottom: 3px solid #ED8000;
          }

          > a {
            display: inline-block;
            color: white;
            padding: 10px 0 7px;
            text-decoration: none;
          }
        }
      }
    }

    .logoSearchContainer {
      display: flex;

      .logoLeft {
        width: 10rem;
      }

      .logo {
        width: 120px;
        height: 45px;
        border: 0;
      }

      .headerTrack {
        flex-grow: 1;
        font-smoothing: antialiased;
        font-smooth: always;
        position: relative;
        white-space: nowrap;
        padding-top: 10px;
      }
    }
  }
}

input[type=submit] {
  cursor: pointer;
}

.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 748px;
  /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
  margin: 0 auto;
  overflow: hidden;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.button-green,
.button-orange,
.button-red,
.button-skyblue {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-green:hover,
.button-orange:hover,
.button-red:hover,
.button-skyblue:hover {
  filter: alpha(opacity=90);
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

.button-green {
  background: rgb(28, 184, 65);
}

.button-red {
  background: rgb(202, 60, 60);
}

.button-orange {
  background: rgb(223, 117, 20);
}

.button-skyblue {
  background: rgb(66, 184, 221);
}

.flexbox {
  display: flex;
}

.contentbox {
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
}

.divrecentbox {
  background: rgba(0, 47, 93, .8);
  /* Use member provided screenshot */
  background-image: url(http://i.imgur.com/cII5eI7.png);
  background-size: cover;
  flex: 1;
  margin-right: 20px;
}

.centerblock {
  text-align: center;
  text-transform: uppercase;
  display: block;
  color: white;
  background: rgba(0, 0, 0, .7);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.tablerecentflights {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, .7);
  > tbody > tr {
    border-bottom: 1px solid rgb(255,255,255);
    > td {
      padding: 0;
      margin: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      color: white;

      &:first-child {
        padding-left: 5px;
        padding-right: 15px;
      }
      &:last-child {
        text-align: right;
        padding-right: 5px;
      }
    }
    &:last-child {
      border: none;
    }
  }
}

.pad15 {
  padding: 15px;
}

.padleft10 {
  padding-left: 20px;
}

.newsbox {
  border: 1px solid black;
  background: rgba(0, 47, 93, .8);
  color: rgb(255,255,255);
  width: 33%;
}
