body {
  margin: 0;
  padding: 0;
}

input[type=submit] {
  cursor: pointer;
}

.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 748px;
  /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
  margin: 0 auto;
  overflow: hidden;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.flexbox {
  display: flex;
}

.contentbox {
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
}

.contentcontainer {
  flex: 1;
  width: 100%;
}

.divrecentbox {
  background: rgba(0, 47, 93, .8);
  background-size: cover;
  flex: 1;
  margin-right: 20px;
  background-image: url('./Containers/Home/2zjkl80.jpg');
}

.centerblock {
  text-align: center;
  text-transform: uppercase;
  display: block;
  color: white;
  background: rgba(0, 0, 0, .7);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;

  border-radius: 7px;
}

.tablerecentflights {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, .7);
  > tbody > tr {
    border-bottom: 1px solid rgb(255,255,255);
    > td {
      padding: 0;
      margin: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      color: white;

      &:first-child {
        padding-left: 5px;
        padding-right: 15px;
      }
      &:last-child {
        padding-right: 5px;
      }
    }

    .arrow {
      padding-left: 10px;
      padding-right: 10px;
    }

    &:last-child {
      border: none;
    }
  }
}

.mt1r {
  margin-top: 1rem;
}

.pr5 {
  padding-right: 5px;
}

.pad15 {
  padding: 15px;
}

.padleft10 {
  padding-left: 20px;
}

.newsbox {
  border: 1px solid black;
  background: rgba(0, 47, 93, .8);
  color: rgb(255,255,255);
  width: 33%;
}

.aboutbox {
  flex-wrap: wrap;
  flex-direction: row;
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

.alignleft {
  text-align: left;
}
