body {
  margin: 0;
  padding: 0;
}

#topWrapper {
  width: 100%;
  background: #002F5D;
  /*background: linear-gradient(#002F5D, #002F5D 40%, #021624);*/
  box-shadow: 0 1px 1px -1px #888;

  #header {
    width: 90%;
    padding-top: 5px;
    margin: 0 auto;

    input {
      padding: 5px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid darkblue;
      margin-right: 5px;
    }

    #search {
      width: 40%;
    }

    .navBar {
      display: block;
      clear: both;

      #navBarRoot {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        min-height: 40px;
        box-sizing: border-box;
        font-family: GillSansLight, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        > li {
          > a {
            display: block;
            color: white;
            padding: 10px 0 7px;
            text-decoration: none;
          }

          &:first-child {
            margin-left: -5px;
            padding-left: 5px;
          }
          &:hover {
            border-bottom: 3px solid #ED8000;
          }
        }
      }
    }

    .logoSearchContainer {
      display: flex;

      .logoLeft {
        width: 10rem;
      }

      .logo {
        width: 120px;
        height: 45px;
        border: 0;
      }

      .headerTrack {
        flex-grow: 1;
        font-smoothing: antialiased;
        font-smooth: always;
        position: relative;
        white-space: nowrap;
        padding-top: 10px;
      }
    }
  }
}

input[type=submit] {
  cursor: pointer;
}

.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 748px;
  /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
  margin: 0 auto;
  overflow: hidden;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.button-green,
.button-orange,
.button-red,
.button-skyblue {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-green:hover,
.button-orange:hover,
.button-red:hover,
.button-skyblue:hover {
  filter: alpha(opacity=90);
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

.button-green {
  background: rgb(28, 184, 65);
}

.button-red {
  background: rgb(202, 60, 60);
}

.button-orange {
  background: rgb(223, 117, 20);
}

.button-skyblue {
  background: rgb(66, 184, 221);
}

.flexbox {
  display: flex;
}

.contentbox {
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
}

.contentcontainer {
  flex: 1;
  width: 100%;
}

.divrecentbox {
  background: rgba(0, 47, 93, .8);
  background-size: cover;
  flex: 1;
  margin-right: 20px;
  background-image: url('./Containers/Home/2zjkl80.jpg');
}

.centerblock {
  text-align: center;
  text-transform: uppercase;
  display: block;
  color: white;
  background: rgba(0, 0, 0, .7);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;

  border-radius: 7px;
}

.tablerecentflights {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, .7);
  > tbody > tr {
    border-bottom: 1px solid rgb(255,255,255);
    > td {
      padding: 0;
      margin: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      color: white;

      &:first-child {
        padding-left: 5px;
        padding-right: 15px;
      }
      &:last-child {
        padding-right: 5px;
      }
    }

    .arrow {
      padding-left: 10px;
      padding-right: 10px;
    }

    &:last-child {
      border: none;
    }
  }
}

.mt1r {
  margin-top: 1rem;
}

.pr5 {
  padding-right: 5px;
}

.pad15 {
  padding: 15px;
}

.padleft10 {
  padding-left: 20px;
}

.newsbox {
  border: 1px solid black;
  background: rgba(0, 47, 93, .8);
  color: rgb(255,255,255);
  width: 33%;
}

.aboutbox {
  flex-wrap: wrap;
  flex-direction: row;
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

.alignleft {
  text-align: left;
}
