@import "../../styles/_base.scss";
@import "../../styles/_button.scss";

header {
  /*box-shadow: 0 1px 1px -1px #888;*/
  display: flex;
  flex: 1 1 100%;
  background: #002F5D;

  .header {
    @extend %base;
    padding-top: 5px;

    input {
      padding: 5px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid darkblue;
      margin-right: 5px;

      &.button {
        @extend %button-skyblue;
      }
    }

    nav {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        list-style: none;
        min-height: 30px;
        font-family: GillSansLight, sans-serif;
        font-size: 14px;
        text-transform: uppercase;

        > li {
          margin-right: 25px;
          > a {
            color: white;
            text-decoration: none;
          }

          &:hover {
            border-bottom: 3px solid #ED8000;
          }
        }
      }
      @media screen and (max-width: 768px) {
        a {
          color: #777;
        }

        ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: left;
          background: #222;
          text-indent: 20px;
        }

        ul > li {
          margin-left: 0;
        }

        h1 {
          font-size: 26px;
        }
      }
    }

    .logoSearchContainer {
      display: flex;

      .logoLeft {
        width: 10rem;
      }

      .logo {
        width: 120px;
        height: 45px;
        border: 0;
      }

      .headerTrack {
        padding-top: 10px;
      }
    }
  }
}
